<ng-container>
  <mat-toolbar class="yfcode-header">
    <app-header></app-header>
  </mat-toolbar>

  <mat-sidenav-container class="yfcode-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="yfcode-sidenav"
                 [fixedInViewport]="yfFixed" [fixedTopGap]="yfTop"
                 [fixedBottomGap]="yfBottom">
      <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="yfcode-footer"><app-footer></app-footer></mat-toolbar>
</ng-container>






